*{
    margin: 0%;
    padding: 0%;
}

header{
    width: 100%;
    height: 88;
    background-color: black;
    margin: 51px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
body{
    width: 100%;
}

#menuOpciones{
    width: 100%;
    justify-self: flex-end;
}

#opciones{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    width: 100%;
    color: white;
    font-family: Arial, sans-serif;
    list-style-type: none;
}

nav ul li {
    display: inline;
  }

  a{
    color: #F66596;
  }

.logo{
    width: 172px;
    height: 177px;
    margin: 0 0 12px 48px;
}


footer{
    width: 100%;
    height: 88;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 200%;
    margin-top: 50px;
}
#formulario, #registroUsuario {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F66596;
    flex-direction: column;
    background-color: black;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

