<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>principal</display-name>
    <servlet-name>principal</servlet-name>
    <servlet-class>controlador.principal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>principal</servlet-name>
    <url-pattern>/principal</url-pattern>
  </servlet-mapping>
  <display-name>TiendaCamisetas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GestionUsuarios</display-name>
    <servlet-name>GestionUsuarios</servlet-name>
    <servlet-class>controlador.GestionUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionUsuarios</servlet-name>
    <url-pattern>/GestionUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionCamisetas</display-name>
    <servlet-name>GestionCamisetas</servlet-name>
    <servlet-class>controlador.GestionCamisetas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionCamisetas</servlet-name>
    <url-pattern>/GestionCamisetas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listar</display-name>
    <servlet-name>listar</servlet-name>
    <servlet-class>controlador.listar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listar</servlet-name>
    <url-pattern>/listar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Listado</display-name>
    <servlet-name>Listado</servlet-name>
    <servlet-class>controlador.Listado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listado</servlet-name>
    <url-pattern>/Listado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionCamiseta</display-name>
    <servlet-name>GestionCamiseta</servlet-name>
    <servlet-class>controlador.GestionCamiseta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionCamiseta</servlet-name>
    <url-pattern>/GestionCamiseta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualizarUsuarioController</display-name>
    <servlet-name>ActualizarUsuarioController</servlet-name>
    <servlet-class>controller.ActualizarUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizarUsuarioController</servlet-name>
    <url-pattern>/ActualizarUsuarioController</url-pattern>
  </servlet-mapping>
</web-app>